<ion-content class="ion-padding ion-text-center">
    <img src="/assets/icon/logo.png" class="logo" />
    <div class="login-seccion ion-padding">
        <div class="encabezado ion-padding">
            <h1>Create una cuenta!</h1>
            <p>Completa los campos para continuar</p>
        </div>
        <form [formGroup]="registrousuario" (ngSubmit)="guardarUsuario()">
        <div class="login-form ion-padding">
            <div class="form-input">
                <ion-icon name="person-outline"></ion-icon>
                <ion-item>
                    <ion-label position="floating">NOMBRE DE USUARIO</ion-label>
                    <ion-input type="text" formControlName="usu_nombre" name ="usu_nombre"></ion-input>
                </ion-item>
            </div>
            <div class="form-input">
                <ion-icon name="mail-outline"></ion-icon>
                <ion-item>
                    <ion-label position="floating">EMAIL</ion-label>
                    <ion-input type="email" formControlName="usu_correo" name="usu_correo"></ion-input>
                </ion-item>
            </div>
            <div class="form-input">
                <ion-icon name="lock-closed-outline"></ion-icon>
                <ion-item>
                    <ion-label position="floating">CONTRASEÑA</ion-label>
                    <ion-input type="password" formControlName="usu_contra" name="usu_contra"></ion-input>
                </ion-item>
            </div>
            <div class="form-input">
                <ion-icon name="lock-closed-outline"></ion-icon>
                <ion-item>
                    <ion-label position="floating">CONFIRMAR CONTRASEÑA</ion-label>
                    <ion-input type="password" formControlName="usu_contra2" name="usu_contra2"></ion-input>
                </ion-item>
            </div>
        </div>
        <div class="accion-boton ion-padding">
            <ion-button type="submit" [disabled]="!registrousuario.valid" size="large" class="login-boton">Registrate!</ion-button>
            <ion-button size="large" class="registro-boton" fill="outline" routerLink="/login">Iniciar Sesion</ion-button>
        </div>
    </form>
    </div>
</ion-content>