<ion-content>
    <div class="main_content_div">
        <ion-buttons slot="start" class="atras_btn">
            <ion-back-button defaultHref="/"></ion-back-button>
            <ion-label>ATRAS</ion-label>
        </ion-buttons>
        <div class="content_div">
            <h1>LISTADO DE IDAS A PELUQUERIA</h1>
        </div>
    </div>
    <ion-fab horizontal="end" vertical="bottom" slot="fixed">
        <ion-fab-button color="secondary" routerLink="/guardar-peluqueria">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>