<ion-content>
    <div class="main_content_div">
        <ion-buttons slot="start" class="atras_btn">
            <ion-back-button defaultHref="/"></ion-back-button>
            <ion-label>ATRAS</ion-label>
        </ion-buttons>
        <div class="content_div">
            <h1>MIS MASCOTAS</h1>
            <ion-list>
                <ion-item color="primary" *ngFor="let c of [1]" routerLink="/editar-mascota">
                    <ion-avatar>
                        <img src="/assets/icon/mascota.png" />
                    </ion-avatar>
                    <ion-label>
                        <h2>NOMBRE</h2>
                        <h3>PERRO</h3>
                        <h3>MACHO</h3>
                    </ion-label>
                </ion-item>
            </ion-list>
        </div>
    </div>
    <ion-fab horizontal="end" vertical="bottom" slot="fixed">
        <ion-fab-button color="danger" routerLink="/guardar-mascota">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>