<ion-content>
    <div class="main_content_div">
        <ion-buttons slot="start" class="atras_btn">
            <ion-back-button defaultHref="/listar-mascota"></ion-back-button>
            <ion-label>ATRAS</ion-label>
        </ion-buttons>
        <div class="content_div">
            <h1>EDITAR MASCOTA</h1>
            <p>INFORMACION BASICA</p>
            <ion-grid>
                <ion-row>
                    <ion-col size="10">
                        <div class="col_div">
                            <ion-list>
                                <ion-item>
                                    <ion-avatar slot="start" routerLink="/guardar-mascota">
                                        <img src="/assets/icon/mascota.png" />
                                    </ion-avatar>
                                    <ion-list>
                                        <ion-item>
                                            <ion-input type="text" value="" placeholder="Nombre"></ion-input>
                                        </ion-item>
                                        <ion-item>
                                            <ion-select interface="popover" value="01">
                                                <ion-select-option value="01">PERRO</ion-select-option>
                                                <ion-select-option value="02">GATO</ion-select-option>
                                            </ion-select>
                                        </ion-item>
                                        <ion-item>
                                            <ion-select interface="popover" value="MACHO">
                                                <ion-select-option value="MACHO">MACHO</ion-select-option>
                                                <ion-select-option value="HEMBRA">HEMBRA</ion-select-option>
                                            </ion-select>
                                        </ion-item>
                                        <ion-fab horizontal="end" vertical="bottom" slot="fixed">
                                            <ion-fab-button color="primary" routerLink="/guardar-mascota">
                                                <ion-icon name="information-outline"></ion-icon>
                                            </ion-fab-button>
                                        </ion-fab>
                                    </ion-list>
                                </ion-item>
                            </ion-list>
                        </div>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size="6">
                        <div class="col_botones">
                            <ion-fab horizontal="start" vertical="top" slot="fixed">
                                <ion-fab-button color="secondary" routerLink="/listar-gastos">
                                    <ion-icon name="cash-outline"></ion-icon>
                                </ion-fab-button>
                            </ion-fab>
                            <ion-label>Gastos</ion-label>
                        </div>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size="7">
                        <div class="col_botones">
                            <ion-fab horizontal="start" vertical="top" slot="fixed">
                                <ion-fab-button color="danger" routerLink="/listar-vacunacion">
                                    <ion-icon name="medkit-outline"></ion-icon>
                                </ion-fab-button>
                            </ion-fab>
                            <ion-label>Vacunacion</ion-label>
                        </div>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>
    </div>
</ion-content>