<ion-content class="ion-padding ion-text-center">
    <img src="/assets/icon/logo.png" class="logo" />
    <div class="login-seccion ion-padding">
        <div class="encabezado ion-padding">
            <h1>Recuperar Contraseña</h1>
            <p>Ingresa tu e-mail y te enviaremos un link para reestablecer la contraseña</p>
        </div>
        <div class="login-form ion-padding">
            <div class="form-input">
                <ion-icon name="mail-outline"></ion-icon>
                <ion-item>
                    <ion-label position="floating">EMAIL</ion-label>
                    <ion-input type="email"></ion-input>
                </ion-item>
            </div>
        </div>
        <div class="accion-boton ion-padding">
            <ion-button size="large" class="login-boton">ENVIAR</ion-button>
        </div>
    </div>
</ion-content>